

    <h1 class="internship-title">Messages</h1>
    <% if !@applications_outgoing.nil? %>
    <% @applications_outgoing.each do |application| %>
      <div class="message">
        <div class="message-name">
          <p>@ <%= link_to application.company.name, company_path(application.company) %></p>
          <%= cl_image_tag application.company.photo, :class => "style-image-company-message" %>
        </div>
        <div class="message-body">
          <div class="message-body-text">
            <p><span class="message-middle">Internship Title: </span><%= application.internship.name %></p>
            <p><span class="message-middle">Message: </span><%= application.message %></p>
          </div>
        </div>
        <div class="message-status">
          <p class="status pending"><%= application.created_at.strftime("%m/%d/%Y") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>


