

<div class="container">

  <div class="user-card text-center">
    <%= image_tag @user.photo, :class => "style_image" %>

    <%= simple_form_for [@user] do |f| %>
    <div class="form-inputs">
          <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
        <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>

    <div class="user text-center">
      <h1 class="user-name"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :first_name %><%= f.input :last_name %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></h1>
    </div>

  </div>

  <div class="user-card text-center">
    <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i>
 Bio</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :description %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :education %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
 Experience</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :experience %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-list-ul" aria-hidden="true"></i>
 Skills</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :skills %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-futbol-o" aria-hidden="true"></i>
 Hobbies</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :hobbies %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>

  <div class="user-card text-center">
    <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i>
Phone Number</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :phone %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>


  <div class="user-card text-center">
    <p class="name"><i class="fa fa-envelope-o" aria-hidden="true"></i>
 Email</p>
    <p class="text"><%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.input :email %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %></p>
  </div>

</div>


