
<div class="container">

  <div class="user-card text-center">
    <%= image_tag 'Lucia.JPG', :class => "style_image" %>
    <div class="user text-center">
      <h1 class="user-name"><%=@user.first_name%><%=@user.last_name %></h1>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Create a Company", new_company_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Edit Profile", edit_user_path %>
    </div>
  </div>


  <%= simple_form_for [@user] do |f| %>
  <%= f.error_notification %>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i>
Phone Number</p>
    <%= f.input :phone %>
  </div>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</p>
        <%= f.input :education %>
  </div>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-envelope-o" aria-hidden="true"></i>
 Email</p>
    <%= f.input :email %>
  </div>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i>
 Bio</p>
    <%= f.input :description %>
  </div>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
 Experience</p>
    <%= f.input :experience %>
  </div>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-futbol-o" aria-hidden="true"></i>
 Hobbies</p>
    <%= f.input :hobbies %>
  </div>
  <div class="user-card text-center">
    <p class="name"><i class="fa fa-list-ul" aria-hidden="true"></i>
 Skills</p>
    <%= f.input :skills %>
  </div>
  <%= f.button :submit %>
</div>
<% end %>
