<div class="user-avatar">
  <%= image_tag('TaskIt_logo.png') %>
</div>

<h1><%=@user.first_name%><%=@user.last_name%></h1>

<div>
  <p>Phone Number: <%=@user.phone%> </p>
  <p>Education: <%=@user.education%> </p>
  <p>Email: <%=@user.email%></p>
  <p>Description: <%=@user.description %></p>
</div>
