<div class="container">

  <div class="user-card text-center">
    <%= image_tag @user.photo, :class => "style_image" %>
    <div class="user text-center">
      <h1 class="user-name"><%=@user.first_name%> <%=@user.last_name %></h1>
    </div>
    <% if current_user.company == nil %>
    <div class="btn btn-primary">
      <%= link_to "Create a Company", new_company_path %>
    </div>
    <% end %>
    <div class="btn btn-danger">
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>
  </div>


  <div class="user-card text-center">
    <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i>
 Bio</p>
    <p class="text"><%= @user.description %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</p>
    <p class="text"><%= @user.education %> </p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
 Experience</p>
    <p class="text"><%= @user.experience %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-list-ul" aria-hidden="true"></i>
 Skills</p>
    <p class="text"><%= @user.skills %></p>
  </div>

    <div class="user-card text-center">
    <p class="name"><i class="fa fa-futbol-o" aria-hidden="true"></i>
 Hobbies</p>
    <p class="text"><%= @user.hobbies %></p>
  </div>

  <div class="user-card text-center">
    <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i>
Phone Number</p>
    <p class="text"><%=@user.phone%></p>
  </div>


  <div class="user-card text-center">
    <p class="name"><i class="fa fa-envelope-o" aria-hidden="true"></i>
 Email</p>
    <p class="text"><%= @user.email %></p>
  </div>

</div>


