<div class="company">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(<%= company.photo.url %>);">
    <div class="card-category"><%= company.industry  %></div>
    <div class="card-description">
      <h2><%= company.name %></h2>
      <p><%= company.address %></p>
    </div>
    <%= link_to company.name, company_path(company), class: "card-link" %>
  </div>
</div>
