<div class="row">
  <div>
    <%= simple_form_for [@company] do |f| %>
      <%= f.input :name, placeholder: "Apple"%>
      <%= f.input :industry, collection: Company::INDUSTRIES %>
      <%= f.input :address, placeholder: "767 Fifth Avenue New York, NY" %>
      <%= f.input :description, placeholder: "Technology store"%>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Submit", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
