<h1> <%=@company.name %></h1>
<div class="info">
  <p>Industry: <%=@company.industry %></p>
  <p>Address: <%= @company.address %></p>
  <%= cl_image_tag @company.photo, height: 300, width: 400, crop: :fill %>
  <h2> Description: </h2>
  <p> <%= @company.description %> </p>
    <%= link_to "Edit", edit_company_path(@company), class: "btn btn-primary" %>
    <%= link_to "Delete Company", company_path(@company), method: :delete, data: { confirm: "Are you sure you want to delete this company?"}, class: "btn btn-danger" %>
  <h4>Available Internships:</h4>
  <%= link_to "Add Intership", new_company_internship_path(@company, internship) %>
  <% @company.internships.each do |internship| %>
    <%= link_to internship.name, internship_path(internship) %>
    <%= link_to "Edit", edit_company_internship_path(@company, internship), class: "btn btn-primary" %>
    <%= link_to "Delete Internship", company_internship_path(@company, internship), method: :delete, data: { confirm: "Are you sure you want to delete this internship?"}, class: "btn btn-danger" %>
  <% end %>
</div>
