<h1> <%=@company.name %></h1>
<div class="info">
  <p>Industry: <%=@company.industry %></p>
  <p>Address: <%= @company.address %></p>
  <%= image_tag @company.photo %>
  <h2> Description: </h2>
  <p> <%= @company.description %> </p>
</div>










