<h1> <%=@company.name %></h1>
<div class="info">
  <p>Industry: <%=@company.industry %></p>
  <p>Address: <%= @company.address %></p>
  <%= cl_image_tag @company.photo, height: 300, width: 400, crop: :fill %>
  <h2> Description: </h2>
  <p> <%= @company.description %> </p>
  <h4>Available Internships:</h4>
  <% @company.internships.each do |internship| %>
    <%= link_to internship.name, internship_path(internship) %>
  <% end %>
</div>
