<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 ">
      <div class="form-body">
        <h2 class="form-title">Add Internship</h2>
          <%= simple_form_for [@company, @internship] do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :name, placeholder: 'Dish Washer' %>
              <%= f.input :description, placeholder: 'Washing dishes at local restaurant' %>
              <%= f.input :length, placeholder: '10 weeks' %>
              <%= f.input :hours, placeholder: '15 hours per week' %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
