<h1> <%= @internship.name %> </h1>
<div class = 'info'>
  <h2>Company name: <%= link_to @company.name, company_path(@company) %></h2>
  <p>Industry: <%= @internship.company.industry %></p>
  <p>Address: <%= @internship.company.address %></p>
  <p>Company description: <%= @company.description %></p>
  <%= image_tag(@company.photo) %>
 <!--  company photo not working here -->
  <p><%= @internship.description %></p>
  <p><%= @internship.length %> weeks</p>
  <p><%= @internship.hours %> hours per week</p>
    <%= link_to "Edit", edit_company_internship_path(@company, @internship), class: "btn btn-primary" %>
    <%= link_to "Delete Internship", company_internship_path(@company, @internship), method: :delete, data: { confirm: "Are you sure you want to delete this internship?"}, class: "btn btn-danger" %>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
