<div class="companies-container">
  <div class="container">
    <div class="company-card text-center">
      <h1 class="internship-title"><%= @internship.name %></h1>
      <h1 class="internship-link">@ <%= link_to @company.name, company_path(@company) %></h1>
      <%= image_tag(@company.photo, class: "style_image_company") %>
    </div>
    <div class="company-card text-center">
      <p class="name"><i class="fa fa-address-card-o" aria-hidden="true"></i> Description</p>
      <p class="text"><%= @internship.description %></p>
    </div>

    <div class="company-card text-center">
      <p class="name"><i class="fa fa-calendar" aria-hidden="true"></i></i> Length</p>
      <p class="text"><%= @internship.length %> weeks</p>
    </div>

    <div class="company-card text-center">
      <p class="name"><i class="fa fa-clock-o" aria-hidden="true"></i></i> Hours</p>
      <p class="text"><%= @internship.hours %> per week</p>
    </div>

    <div class="company-card text-center">
      <p class="name"><i class="fa fa-industry" aria-hidden="true"></i></i> Industry</p>
      <p class="text"><%= @internship.company.industry %></p>
    </div>

    <div class="company-card text-center">
      <p class="name"><i class="fa fa-map-marker" aria-hidden="true"></i></i> Address</p>
      <p class="text"><%= @internship.company.address %></p>
    </div>

    <div class="company-card text-center">
      <p class="name"><i class="fa fa-commenting-o" aria-hidden="true"></i></i> Message</p>
      <%= simple_form_for([@company, @internship, @application]) do |f| %>
          <%= f.input :message %>

          <%= f.submit class: "btn btn-primary" %>
        <% end %>
    </div>

      <%= link_to 'Back', companies_path %>
  </div>
  <div class="container">
    <div class="map-card" id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

