<h1> <%= @internship.name %> </h1>
<div class = 'info'>
  <p>Industry: <%= @internship.company.industry %></p>
  <p>Address: <%= @internship.company.address %></p>
  <p><%= @internship.responsibilities %></p>
  <p><%= @internship.length %> weeks</p>
  <p><%= @internship.hours %> hours per week</p>
</div>
