<h1> <%= @internship.name %> </h1>
<div class = 'info'>
  <p>Industry: <%= @internship.company.industry %></p>
  <p>Address: <%= @internship.company.address %></p>
  <p><%= @internship.description %></p>
  <p><%= @internship.length %> weeks</p>
  <p><%= @internship.hours %> hours per week</p>
    <%= link_to "Edit", edit_company_internship_path(@company, @internship), class: "btn btn-primary" %>
    <%= link_to "Delete Internship", company_internship_path(@company, @internship), method: :delete, data: { confirm: "Are you sure you want to delete this internship?"}, class: "btn btn-danger" %>
</div>
