<!DOCTYPE html>
<html>
  <head>
    <title>TaskIt!</title>
    <%= favicon_link_tag 'TaskIt_logo.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar"  %>
    <% else %>
      <%= render "shared/navbar_no_user" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= render "shared/footer"  %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= yield(:after_js) %>
  </body>
</html>
